{% extends "base.html" %}
{% block title %}Attribute Selector{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Attribute Types</h1>
  </div>

  <ul>
    {% for attr in attributes %}
    <li>{{ attr['name'] }} <span style="font-size:10px">[{{ attr['users']|join('|') }}]</span></li>
      <ul>
        {% for syn in attr['synonyms'] %}
          <li>{{ syn['name'] }} <span style="font-size:10px">[{{ syn['users']|join('|') }}]</span></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endblock %}
