{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-xs-center">SRA Bio-Meta</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Cast</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>BioSample</th>
                        <th>SRS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in movie.cast %}
                    <tr>
                        <td><a href="{{ url_for('main.biosample', actor_id=biometa.biosample) }}">{{ biometa.biosample }}</a></td>
                        <td>{{ biometa.srs }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
