{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>SRA Biometa</h1>
</div>

<div class="container">
  <table class="table table-striped table-bordered" id="example">

    <thead>
      <tr>
      <th>BioSample</th>
      <th>BioProject</th>
      <th>SRA Study</th>
      <th>SRA Project</th>
      <th>SRA Experiments</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

  <script>
    $('#example').dataTable({
      ajax: "{{ url_for('main.get_server_data') }}",
      columns: [
        { data: "BioSample" },
        { data: "BioProject" },
        { data: "SRA Study" },
        { data: "SRA Project" },
        { data: "SRA Experiments" },
      ]
    });
  </script>

{% endblock %}

