{% extends "base.html" %}
{% block title %}Sample{% endblock %}
{% block page_content %}
<div class="page-header">
  <h1>Sample Summary</h1>
</div>

<div class="row">
  <h2>Project Information</h2>
  <div class="col-lg-6">
    <dl class="dl-horizontal">
      {% if sample_data.bioproject %}
        <dt>BioProject:</dt>
        <dd><a href="https://www.ncbi.nlm.nih.gov/bioproject/{{ sample_data.bioproject }}">{{ sample_data.bioproject }}</a></dd>
      {% endif %}

      {% if sample_data.srp %}
        <dt>SRA Study:</dt>
        <dd>
          <a href="https://trace.ncbi.nlm.nih.gov/Traces/sra/?study={{ sample_data.srp }}">{{ sample_data.srp }}</a>
          <a href="{{ url_for('main.home', osearch=sample_data.srp) }}">[Get List]</a>
        </dd>
      {% endif %}

      {% if sample_data.contacts|length > 0 %}
        <dt>Contact:</dt>
        {% for contact in sample_data.contacts %}
          <dd>
            {{ contact.first_name }}
            {{ contact.last_name }}
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
          </dd>
        {% endfor %}
      {% endif %}
    </dl>
  </div>

  <div class="col-lg-6">
    <dl class="dl-horizontal">
      {% if sample_data.abstract %}
        <dt>Abstract:</dt>
        <dd> {{ sample_data.abstract }} </dd>
      {% endif %}
    </dl>
  </div>
</div>

<div class="row">
  <h2>Sample Information</h2>
  <div class="col-lg-6">
    <dl class="dl-horizontal">
      <dt>
      <dt>BioSample:</dt>
      <dd><a href="https://www.ncbi.nlm.nih.gov/biosample/{{ sample_data.biosample }}">{{ sample_data.biosample }}</a></dd>

      {% if sample_data.gsm %}
        <dt>GEO Sample:</dt>
        <dd><a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc={{ sample_data.gsm }}">{{ sample_data.gsm }}</a></dd>
      {% endif %}

      {% if sample_data.srs %}
        <dt>SRA Sample:</dt>
        <dd><a href="https://www.ncbi.nlm.nih.gov/sra/?term={{ sample_data.srs }}">{{ sample_data.srs }}</a></dd>
      {% endif %}
    </dl>

    <h3>Author Annotation</h3>

    <dl class="dl-horizontal">
      {% if sample_data.taxon_id %}
        <dt>Taxon ID:</dt>
        <dd>{{ sample_data.taxon_id }}</dd>
      {% endif %}

      {% if sample_data.sample_title %}
        <dt>Sample Title</dt>
        <dd>{{ sample_data.sample_title }}</dd>
      {% endif %}

      {% if sample_data.sample_attributes|length > 0 %}
        {% for attribute in sample_data.sample_attributes %}
        <dt>{{ attribute.name }}:</dt>
        <dd>{{ attribute.value }}</dd>
        {% endfor %}
      {% endif %}
    </dl>
  </div>

  <div class="col-lg-6">
    <dl class="dl-horizontal">
      <dt>Experiments:</dt>
      {% for exp in sample_data.experiments %}
        <dd>
            <a href="https://www.ncbi.nlm.nih.gov/sra/{{ exp.srx }}[accn]">{{ exp.srx }}</a>
            {% if exp.runs|length > 0 %}
              ({% for run in exp.runs %}
                {{ run }}
                {% if not loop.last %} | {% endif %}
              {% endfor %})
            {% endif %}
        </dd>
      {% endfor %}
    </dl>
  </div>
</div>

{% if sample_data.magic or sample_data.mieg or sample_data.nlm or sample_data.chen or sample_data.oliver %}
  <div class="row">
    <div class="col-lg-12">
        <h2>NIH Annotation</h2>
    </div>
  </div>

  {% if sample_data.magic %}
  <div class="row">
    <div class="col-lg-12">
        <h3>MAGIC</h3>
          <dl class="dl-horizontal">
            {% for attr in sample_data.magic %}
            <dt>{{ attr.name }}:</dt>
              <dd>{{ attr.value }}</dd>
            {% endfor %}
          </dl>
    </div>
  </div>
    {% endif %}

  <div class="row">
    {% if sample_data.mieg %}
    <div class="col-lg-6">
        <h3>Mieg</h3>
          <dl class="dl-horizontal">
            {% for attr in sample_data.mieg %}
            <dt>{{ attr.name }}:</dt>
              <dd>{{ attr.value }}</dd>
            {% endfor %}
          </dl>
    </div>
    {% endif %}

    {% if sample_data.nlm %}
    <div class="col-lg-6">
        <h3>NLM</h3>
          <dl class="dl-horizontal">
            {% for attr in sample_data.nlm %}
            <dt>{{ attr.name }}:</dt>
              <dd>{{ attr.value }}</dd>
            {% endfor %}
          </dl>
    </div>
    {% endif %}

  </div>

  <div class="row">

    {% if sample_data.chen %}
    <div class="col-lg-6">
        <h3>Chen</h3>
          <dl class="dl-horizontal">
            {% for attr in sample_data.chen %}
            <dt>{{ attr.name }}:</dt>
              <dd>{{ attr.value }}</dd>
            {% endfor %}
          </dl>
    </div>
    {% endif %}

    {% if sample_data.oliver %}
    <div class="col-lg-6">
        <h3>Oliver</h3>
          <dl class="dl-horizontal">
            {% for attr in sample_data.oliver %}
            <dt>{{ attr.name }}:</dt>
              <dd>{{ attr.value }}</dd>
            {% endfor %}
          </dl>
    </div>
    {% endif %}

  </div>
{% endif %}

{% if sample_data.papers|length > 0 %}
  <div class="row">
    <h2>Papers</h2>
    <div class="col-lg-12">
      <dl class="dl-horizontal">
        {% for paper in sample_data.papers %}
          <dt><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ paper.pubmed_id }}">{{ paper.pubmed_id }}</a></dt>
          <dd>
            <p>
              "{{ paper.title }}"
              {% for author in paper.authors %}
              <a href="#" data-toggle="tooltip" title="{{ author.affiliation }}">{{ author.last_name }}, {{ author.first_name }}</a>
                {% if not loop.last %} ; {% endif %}
              {% endfor %}
            </p>
            <p>{{ paper.abstract }}</p>
          </dd>
        {% endfor %}
      </dl>
    </div>
  </div>
{% endif %}

{% if current_user.is_authenticated %}
  <form action="{{ url_for('.sample', sample=sample) }}" method="post">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <table class="table table-striped">
      {% for field in form if field.widget.input_type != 'hidden' %}
          <tr>
            {% if field.widget.input_type == 'submit' %}
              <td>{{ field(class="btn btn-primary") }}</td>
              <td></td>
            {% else %}
              <td>
                {{ field.label(**{'data-toggle': "tooltip", 'title': field.description }) }}:
              </td>
              <td>
                {% if field.errors %}
                    {% for e in field.errors %}
                        <p class="form-text">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ field(size=80) }}
              </td>
            {% endif %}
          </tr>
      {% endfor %}
    </table>
  </form>
{% endif %}

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});</script>
  <style>
  .scrolly {
    height: 40vh;
    overflow-y: scroll;
  }
  </style>
{% endblock %}
