{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Test{% endblock %}

{% block page_content %}
  <h1>Test</h1>
  {{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <link   rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">

  <script>
  $(function() {
      $.ajax({url: '{{ url_for("main.autocomplete_abc") }}'}).done(
          function (data) {
            $('#autocomplete').autocomplete({
                source: data.json_list,
                minLength: 2
            });
          });
    });
  </script>
{% endblock %}
